.filters {
  float: left;
  background: snow;
  height: 100%;


  .inside {
    padding: 20px;
    max-width: 300px;
    height: 1000px;
  }

  & select {
    background: white;
    padding: 10px;
    color: $boldgray;
    display: block;
    font-size: 14px;
    width: 100%;
    margin-bottom: 25px;
    height: 35px;
    outline: none;
  }

  select.filters.bedroom {
    margin-bottom: 50px;
  }

  .filter-title {
    color: $boldgray;
    font-size: 1.1rem;
  }

  .title {
    color: $boldgray;
    text-transform: capitalize;
  }

  &.title {
    display: block;
    font-size: 0.9em;

  }

  option {
    color: $boldgray;
    font-weight: 600;
  }

  &.extras {
    label {
      display: block;
      width: 100%;
      padding: 10px 0;
      float: right;
      input[type='checkbox'] {
        float: right;
        outline: none;
      }
      span {
        color: $boldgray;
      }
    }
  }
}

.price,
.floorspace {
  margin-top: 1em;
  margin-right: 2%;
  border-radius: 5px;
  border: 1px solid $darkgray;
  padding: 8px 5px 8px;
  width: 48%;
}
