.filters {
  float: left;
  background: $offgray;


  .inside {
    padding: 20px;
    max-width: 300px;
    height: 1000px;
  }

  & select {
    background: transparent;
    padding: 10px;
    color: $lightbrown;
    display: block;
    font-size: 14px;
    width: 100%;
    margin-bottom: 25px;
    height: 35px;
    outline: none;
  }

  select.filters.bedroom {
    margin-bottom: 50px;
  }

  .filter-title {
    color: $boldgray;
    font-size: 1.1rem;
  }

  .title {
    color: $lightbrown;
    text-transform: capitalize;
  }

  &.title {
    display: block;
    font-size: 0.9em;

  }

  option {
    color: $lightbrown;
    font-weight: 600;
  }

  &.extras {
    label {
      display: block;
      width: 100%;
      padding: 10px 0;
      float: right;
      input[type='checkbox'] {
        float: right;
        outline: none;
      }
      span {
        color: $boldgray;
      }
    }
  }
}

input[type='text'] {
  display: inline-block;
}

#slidecontainer {
  width: 50%;
  span {
    display: inline-block;
  }
}

.filters .price,
.filters .floorspace {
  width: 130px;
  margin-top: 15px;
}
