body {
  font-family: 'mr-eaves-xl-modern', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

h4 {
  font-size: 1rem;
  margin-bottom: 25px;
  color: $lightbrown;
}

hr {
  width: 65%;
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: $lightgray;
}

.fa {
  padding: 8px;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 2.5em auto;
  color: white;
  overflow: hidden;
}

.register-btn {
  background-color: $pink;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.logo {
  float: left;
  display: inline;
}

nav {
  float: right;
}
